<div class="well well-sm">
	<h3> Your request has been sent! </h3>
</div>

<div class="well well-sm">
	<h3> Your request has been sent to <%= @friend_to_be.firstname %> </h3>
	<a href="/">&lt; Back to the front</a>
</div>